[client-server]
# Uncomment these if you want to use a nonstandard connection to MariaDB
socket=/run/mysql/mysql.sock
port=3306

# This will be passed to all MariaDB clients
[client]
#password=my_password
socket=/run/mysql/mysql.sock

# The MariaDB server
[server]
# Directory where you want to put your data
skip-host-cache
skip-name-resolve
socket=/run/mysql/mysql.sock
datadir=/var/lib/mysql
user=mysql
# Directory for the errmsg.sys file in the language you want to use
language=/usr/local/share/mysql/english
pid-file=/run/mysql/mysqld.pid

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
general-log
#log-slow-queries
