[client-server]
#socket=/var/run/mysqld/mysqld.sock
port=3306

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock
#host = 127.0.0.1

[mysqld]
user=mysql
port=3306
socket=/var/run/mysqld/mysqld.sock
pid-file=/var/run/mysqld/mysqld.pid
datadir=/var/lib/mysql
bind-address=0.0.0.0

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

skip-host-cache
skip-name-resolve
log_error = /var/log/mysql/mariadb.err
init_file = /etc/mysql/init.sql
